@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
	outline: 0;
	box-sizing: border-box 
}
  
html, body {
    min-height: 100%;
}

  
body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: #0077b5;
    align-items: center;
}

.header img{
    height: 30px;
    width: 30px;
    border-radius: 30%;
    object-fit: cover;
}